branches:
  except:
    - /travis/
skip_tags: true

cache:
  - C:\strawberry -> recache

install:
  #- cd C:\projects\%APPVEYOR_PROJECT_NAME%
  - echo %CD%
  - if not exist "C:\strawberry" cinst strawberryperl -ia "/log ""c:\projects\%APPVEYOR_PROJECT_NAME%\logs\choco-install.log"""
  - set PATH=C:\strawberry\perl\bin;C:\strawberry\perl\site\bin;C:\strawberry\c\bin;%PATH%
  - dir C:\strawberry > logs\strawberry.dir.txt
  - copy C:\strawberry\relocation.txt logs\strawberry.relocation.txt
  - copy C:\strawberry\README.txt logs\strawberry.README.txt
  - cpanm Test::More

build_script:
  - perl -MConfig -le "print $Config{make}; system $Config{make}, '--version'"
  
artifacts:
  - path: logs
  
test_script:
  - perl -MTest::More=tests,1 -e "ok $Config{make}, 'make:'.$Config{make}"
