configuration:
  - 5.26.2.1
  #- 5.24.4.1
  #- 5.22.3.1
  #- 5.20.3.3
  #- 5.18.4.1
  ##failed##- 5.16.3.1
  #- 5.16.3.20170202
  - 5.14.4.1
  ##failed##- 5.12.3.0
  ##failed##- 5.12.3.1

environment:
  matrix:
    - perl: default
    - perl: other

skip_tags: true

cache:
  #- C:\strawberry -> appveyor.yml

install:
  - echo perl variable ...%perl%...
  - if not exist "C:\strawberry" cinst strawberryperl --version %Configuration%
  - set PATH=C:\strawberry\perl\bin;C:\strawberry\perl\site\bin;C:\strawberry\c\bin;%PATH%
  - perl -le "print qq(installed perl v$])"
  - cpanm --installdeps .

build_script:
  - echo build using Configuration=%Configuration%, Perl=%perl%...
  - perl -le "print qq(build with perl v$])"
  ## make: but don't want to have to know whether strawberry is using dmake, gmake, or futuremake
  - if exist "Makefile.PL" (perl Makefile.PL)
  - if exist "Makefile"    (perl -MConfig -le "system $Config{make}")

test_script:
  - echo test Configuration=%Configuration%
  - perl -le "print qq(test with perl v$])"
  ## make test: but don't want to have to know whether strawberry is using dmake, gmake, or futuremake
  - if exist "Makefile" (perl -MConfig -le "system $Config{make}, 'test'") ELSE (prove -l t)
  - prove -l t
