configuration:
  - vOLD
  - vNEW
  
category:
  - oldCat
  - newCat

install:
  - echo install in %CD%
  - echo install using Configuration=%Configuration%
  - echo install using Category=%Category%

build_script:
  - echo build using Configuration=%Configuration%
  - echo build using Category=%Category%
