environment:
  matrix:
    - perl: default
    #- perl: 5.26.2.1
    #- perl: 5.24.4.1
    #- perl: 5.22.3.1
    #- perl: 5.20.3.3
    #- perl: 5.18.4.1
    ##failed##- perl: 5.16.3.1
    #- perl: 5.16.3.20170202
    - perl: 5.14.4.1
    ##failed##- perl: 5.12.3.0
    ##failed##- perl: 5.12.3.1

skip_tags: true

cache:
  #- C:\strawberry -> appveyor.yml

install:
  - IF NOT DEFINED perl set perl=default
  - IF NOT EXIST "C:\strawberry" (IF /I %perl%==default (cinst strawberryperl) ELSE (cinst strawberryperl --version %perl%) )
  - IF EXIST "c:\ProgramData\chocolatey\logs" COPY /Y "c:\ProgramData\chocolatey\logs" "chocologs"
  #- if not exist "C:\strawberry" cinst strawberryperl --version %perl%
  - set PATH=C:\strawberry\perl\bin;C:\strawberry\perl\site\bin;C:\strawberry\c\bin;%PATH%
  - perl -le "print qq(installed perl v$])"
  - cpanm --installdeps .

build_script:
  - echo build using Perl=%perl%...
  - perl -le "print qq(build with perl v$])"
  ## make: but don't want to have to know whether strawberry is using dmake, gmake, or futuremake
  - if exist "Makefile.PL" (perl Makefile.PL)
  - if exist "Makefile"    (perl -MConfig -le "system $Config{make}")

test_script:
  - echo test Perl=%perl%...
  - perl -le "print qq(test with perl v$])"
  ## make test: but don't want to have to know whether strawberry is using dmake, gmake, or futuremake
  - if exist "Makefile" (perl -MConfig -le "system $Config{make}, 'test'") ELSE (prove -l t)
  - if exist "Makefile" (perl -MConfig -le "system $Config{make}, 'testcover'")

artifacts:
  - path: cover_db
  - path: chocologs
