configuration:
  #- 5.26.2.1
  #- 5.24.4.1
  #- 5.22.3.1
  #- 5.20.3.3
  #- 5.18.4.1
  ##failed##- 5.16.3.1
  #- 5.16.3.20170202
  #- 5.14.4.1
  ##failed##- 5.12.3.0
  - 5.12.3.1


cache:
  #- C:\strawberry -> appveyor.yml

install:
  - echo install in %CD%
  - if not exist "C:\strawberry" cinst strawberryperl --version %Configuration%
  - set PATH=C:\strawberry\perl\bin;C:\strawberry\perl\site\bin;C:\strawberry\c\bin;%PATH%
  - perl -le "print qq(installed perl v$])"

build_script:
  - echo build using Configuration=%Configuration%
  - perl -le "print qq(build with perl v$])"

test_script:
  - echo test Configuration=%Configuration%
  - perl -le "print qq(test with perl v$])"

on_finish:
  - copy C:\ProgramData\chocolatey\logs\chocolatey.log chocolog.txt
  
artifacts:
  - path: chocolog.txt
