name: BSD-on-MAC

# controls when the action will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-12
    name: MacOS and *BSD checks
    #env:
    #  MYTOKEN : ${{ secrets.MYTOKEN }}
    #  MYTOKEN2: "value2"
    steps:
    - uses: actions/checkout@v3
    - name: raw macos-12
      run: |
        perl -V
        cpanm -V
    - name: VM(FreeBSD)
      uses: vmactions/freebsd-vm@v0
      with:
        usesh: true
        prepare: |
          pkg install -y curl

        run: |
          pwd
          ls -lah
          whoami
          env
          freebsd-version
          perl -V
          cpanm -V
    - name: VM(OpenBSD)
      id: test
      uses: vmactions/openbsd-vm@v0
      with:
        envs: 'MYTOKEN MYTOKEN2'
        usesh: true
        prepare: |
          pkg_add curl

        run: |

          pwd
          ls -lah
          whoami
          env
          perl -V
          cpanm -V
