name: BSD-on-MAC

# controls when the action will run
on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: macos-12
    name: MacOS and *BSD checks
    #env:
    #  MYTOKEN : ${{ secrets.MYTOKEN }}
    #  MYTOKEN2: "value2"
    steps:
    - uses: actions/checkout@v3
    - name: raw macos-12
      run: |
        echo path = $path
        echo PATH = $PATH
        echo prepare ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        which perl
        perl -V
        curl -L https://cpanmin.us | perl - --sudo --verbose App::cpanminus
        echo set ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        PATH=/usr/local/Cellar/perl/5.36.0:$PATH
        echo NEW PATH = $PATH
        which perl
        echo version ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        cpanm --version
        echo run ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        echo TODO...
#    - name: VM(FreeBSD)
#      uses: vmactions/freebsd-vm@v0
#      with:
#        usesh: true
#        sync: rsync
#        copyback: false
#        prepare: |
#          pkg update -f
#          pkg install -y curl
#          #pkg search perl
#          pkg install -y perl5.36-5.36.0_2
#          ###### UNKNOWN: claims to be installed, but perl -v says perl not found,
#          ######          so perl not in path, despite being installed :-(
#
#        run: |
#          perl -v
#          curl -L https://cpanmin.us | perl - --sudo App::cpanminus
#    - name: VM(OpenBSD)
#      id: test
#      uses: vmactions/openbsd-vm@v0
#      with:
#        envs: 'MYTOKEN MYTOKEN2'
#        usesh: true
#        prepare: |
#          pkg_add curl
#
#        run: |
#
#          pwd
#          ls -lah
#          whoami
#          env
#          perl -V
#          #cpanm -V
#          which cpanm
