name: BSD-on-MAC

# controls when the action will run
on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: macos-12
    name: MacOS and *BSD checks
    #env:
    #  MYTOKEN : ${{ secrets.MYTOKEN }}
    #  MYTOKEN2: "value2"
    steps:
    - uses: actions/checkout@v3
    - name: raw macos-12
      run: |
        perl -V
        #curl -L https://cpanmin.us | perl - App::cpanminus
        #which cpanm
    - name: VM(FreeBSD)
      uses: vmactions/freebsd-vm@v0
      with:
        usesh: true
        sync: rsync
        copyback: false
        prepare: |
          pkg update -f
          pkg install -y curl
          #pkg search perl
          pkg install -y perl5.36-5.36.0_2

        run: |
          perl -v
          curl -L https://cpanmin.us | perl - --sudo App::cpanminus
#    - name: VM(OpenBSD)
#      id: test
#      uses: vmactions/openbsd-vm@v0
#      with:
#        envs: 'MYTOKEN MYTOKEN2'
#        usesh: true
#        prepare: |
#          pkg_add curl
#
#        run: |
#
#          pwd
#          ls -lah
#          whoami
#          env
#          perl -V
#          #cpanm -V
#          which cpanm
