name: OnTagMetaDataRelease

# Controls when the workflow will run
on:
  # Triggers the workflow on deployment events (after tag)
  release:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Show meta-info
        run: |
          echo "ref name          : '${{ github.ref_name }}'"
          echo "event release     : ${{ toJson(github.event.release) }}"
          echo "event release body: '${{ github.event.release.body }}'"
          echo "event release name: '${{ github.event.release.name }}'"

# end
