name: OnTagMetaData

# Controls when the workflow will run
on:
  # Triggers the workflow on tag
  push:
    tags: '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Show meta-info
        run: |
          echo "github event: ${{ toJson(github) }}"
          echo "head message: ${{ github.event.head_commit.message }}"
          echo "ref name    : ${{ github.ref_name }}"
          git tag
          git tag --list "${{ github.ref_name }}"
          echo "--------------------"

# end
